a{ 
    color: white;
    text-decoration: none;
}

*{
    margin:0;
    transition-property:background-color,border-color,box-shadow,color,opacity ;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.header{ 
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #a0764f;
    color:white;
    font-family:'Times New Roman', Times, serif;

}

.header_nav{ 
    display:flex;
    align-items: center;
}
.header__item {
    padding: 15px 15px;
    font-size: 20px;
    margin-left: 5px;
}

.header__item:hover {
    background-color: #2600ff;
    border-radius: 4px;
}

.headerButton{ 
    cursor:pointer;

}
.mininav{
    background-color: #a0764f;
    width: 110px;
    height: 250px;
    position:static;
    border-radius: 15%;
    margin-top: 10px;
    border: 3px solid black;
}

.container{
    padding: 20px;
    padding-left: 7px;
    margin-left: 7px;
    width: 14px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.products{
    margin-left:3cm;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products-card{ padding: 2%;
    flex-grow: 1;
    flex: basis 25%;
    justify-content: center;
}

.product-image img{
    max-width: 200px;
    max-height: 250px;
   
}

.product-image-akcies img{
    max-width: 500px;
    max-height: 550px;
   
}

.product-info{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    margin-top:auto;
    justify-content: left;
}

button{

    width: 200px;
    height: 55px;
    background-color: #686ad2;
    border-radius: 5%;
    margin-top: 30px;
}
button:hover{
    background-color:#c91515;
    color: #9ac031;
}

#logo{
    width:100px;
    height: 100px;
    background:url(img/Ya.Rceva.jpg);
}
.footer{
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    background-color: #a0764f;
    padding: 15px,15px;

    
}
.Description{
    color:white;

}

.Partners{
    display: flex;
    flex-direction: row;
    color:white;
}

.Description__slogan{
    color:white;

}

.Partners__person{
    color:white;
    display: flex;
    flex-direction: column;
    color:white;
    padding: 10px;
    justify-content: end;
    flex-wrap: wrap;
  
}

.Partners__person:hover {
 background-color: red;
 border-radius: 4px;   
}
